@page
@model EvaAssistant.Pages.IndexModel
@{
    Layout = null;
}

@using Microsoft.AspNetCore.Mvc.Rendering;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="webchat" role="main" style="width: 550px; height: 800px; border:1px solid black; position: fixed; bottom:0; right:0"></div>

    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat-es5.js"></script>
    <script>
        function getLanguagePreference() {
            var langPreference = navigator.language || navigator.userLanguage;

            // If browser's language preference is not set then default to English
            if (langPreference == null) {
                langPreference = "en";
            }
            else {
                // Just grab the root language
                langPreference = langPreference.substring(0, 2).toLowerCase();

                // If browser's language preference is not one of the supported languages then default to English
                if (langPreference != "en" && langPreference != "es")
                    langPreference = "en";
            }

            return langPreference;
        }

        var dispatchEvent = function (dispatch) {
            return function (next) {
                return function (action) {
                    if (action.type === 'DIRECT_LINE/CONNECT_FULFILLED') {
                        // When we receive DIRECT_LINE/CONNECT_FULFILLED action, we will send an event activity using WEB_CHAT/SEND_EVENT
                        dispatch.dispatch({
                            type: 'WEB_CHAT/SEND_EVENT',
                            payload: {
                                name: 'webchat/join'
                            }
                        });
                    }

                    return next(action);
                }
            }
        };

        const store = window.WebChat.createStore({}, dispatchEvent);

        window.WebChat.renderWebChat(
            {
                directLine: window.WebChat.createDirectLine({
                    token: '@Model.DLToken'
                }),
                store: store,
                userID: '@Model.UserId',
                username: '@Model.UserName',
                locale: getLanguagePreference(),
                styleOptions: {
                    botAvatarInitials: '@Model.BotAvatarInitials',
                    userAvatarInitials: '@Model.UserAvatarInitials',
                    hideUploadButton: '@Model.HideUploadButton'
                }
            },
            document.getElementById('webchat')
        );
    </script>
</body>
</html>
